.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px); /* Adjust size as needed */
    grid-template-rows: repeat(8, 50px);
    width: 400px; /* Adjust size as needed */
    height: 400px; /* Adjust size as needed */
  }
  
  .square {
    width: 100%;
    height: 100%;
  }
  
  .dark {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.47);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.1px);
  -webkit-backdrop-filter: blur(16.1px);
  }
  
  .light {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.47);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.1px);
  -webkit-backdrop-filter: blur(16.1px);
  }